# folders to ignore
.git/
.vs/
asset/
x64/
CyanApp/x64
CyanLib/x64
CyanEditor/x64
CyanEditor/imgui.ini
App/x64
App/imgui.ini
ExternalLib/include/glm
ExternalLib/x64
TexturePacking/data
TexturePacking/x64
TexturePacking/imgui.ini
CpuRaytracer/x64
CpuRaytracer/imgui.ini
Core/x64
Engine/x64
Engine/Resources
EngineApp/x64
EngineApp/Apps/Demo/Resources
EngineApp/Apps/ParallaxOcclusionMapping/Resources
EngineApp/Apps/VoxelBasedGI/Resources
Gfx/x64
ThirdParty/x64
scene/
