# folders to ignore
.vscode/
bin/
build/
/lib/
.git/
asset/
src/ImGuizmo/

x64/
CyanRenderEngine.vcxproj.user
CyanApp/x64
CyanApp/*.vcxproj.user
CyanLib/x64
CyanLib/*.vcxproj.user
ExternalLib/x64
ExternalLib/*.vcxproj.user
